body {
    margin: 30px;
    background: #29283b;
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

body * {
    font-family: 'Iosevka SS04 Web';
}

header {
    margin: 50px 0px 60px;
}

.siteTitle a {
    color: #fdd877;
}

.container {
}

a {
    text-decoration: none;
}

.post {
    margin: 2px 0px;
}

.postLink {
    color: #c8c8c8;
    font-size: 18px;
}

.postDate {
    color: #aa7ff0;
    font-size: 18px;
}

.postLink:hover {
    background-color: #65aef7;
    color: #00303e;
}

.post-title {
    color: #e8e8e8;
    margin-bottom: 5px;
}

.post-date {
    color: #aa7ff0;
}

.post-content {
    color: #c8c8c8;
    margin-top: 26px;
}

.post-content * {
    line-height: 22px;
}

.post-content blockquote {
    border-left: 0.2em solid #aaa;
    position: relative;
    padding-left: 1em;
    margin-left: 0px;
}

.post-content a {
    color: #ef6487;
}

.post-content a:hover {
    background-color: #65aef7;
    color: #00303e;
}

.post-content code {
    padding: 0.1em 0.3em;
    background-color: #232323;
    color: #e6e1dc;
    border-radius: 3px;
}

.title-area, .name-area {
    text-align: center;
    margin: 5px auto;
    color: #ccc;
    font-size: 18px;
}

.title-area {
    margin-bottom: 50px;
}

.inline {
    display: inline-block;
    margin: 8px 0;
}

#title-input, #name-input, #auth {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FFF;
    display: inline-block;
    outline: none;
    color: #ccc;
    font-size: 18px;
    width: 60%;
}

#auth {
    width: 40%;
    min-width: 250px;
}

.auth-area {
    text-align: center;
    margin-bottom: 30px;
}

.CodeMirror {
    background-color: transparent;
    color: #c8c8c8;
}

.editor-toolbar a {
    color: #eee !important;
}

.CodeMirror-cursor {
    border-left: 1px solid #fff;
}

.visibility-area, .submit-area {
    text-align: center
}

.chk {
    color: #65aef7;
}

.chk:hover {
    background-color: #ef6487;
    color: #00303e;
}

.chk.active {
    font-weight: bold;
}

#submit {
    display: inline-block;
    padding: 2px;
    color: #ef6487;
    cursor: pointer;
    margin: 5px 0px;
    font-size: 18px;
}

#submit:hover {
    background-color: #65aef7;
    color: #00303e;
}

.CodeMirror .CodeMirror-code .cm-comment {
    background: rgba(0,0,0,.2);
}

.editor-preview, .editor-preview-side {
    background-color: #29283b;
}

.editor-preview pre, .editor-preview-side pre {
    background: rgba(0,0,0,.2);
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
    background-color: #666;
}